################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CrystalPhysics/CrystalPhysics/x64/Debug
/CrystalScene/AppBase/x64/Debug
/CrystalScene/Command/x64/Debug
/CrystalScene/Scene/x64/Debug
/CrystalSpace/CrystalSpace/x64/Debug
/CrystalVDB/.vs/CrystalVDB/v16
/CrystalVDB/CrystalVDB/x64/Debug
/CrystalVDB/CrystalVDBView/x64/Debug
/CrystalVDB/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4
/CrystalVDB/VDBCommand/x64/Debug
/CrystalVDB/VDBCommandTest/x64/Debug
/CrystalVDB/VDBRunner/x64/Debug
/CrystalVDB/x64/Debug
/CrystalNumerics/CrystalNumerics/x64/Debug
/CrystalNumerics/CrystalNumerics/x64/Release
/CrystalPhysics/CrystalPhysics/x64/Release
/CrystalPhysics/CrystalPhysicsCommand/x64/Debug
/CrystalPhysics/CrystalPhysicsCommand/x64/Release
/CrystalScene/.vs/CrystalScene/v16
/CrystalScene/AppBase/x64/Release
/CrystalScene/Command/x64/Release
/CrystalScene/Scene/x64/Release
/CrystalSpace/CrystalSpace/x64/Release
/CrystalVDB/CrystalVDB/x64/Release
/CrystalVDB/VDBCommand/x64/Release
/CrystalScene/CommandTest/x64/Debug
/CrystalScene/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1
/CrystalScene/x64/Debug
/.vs/Crystal/v16
/CrystalPhysics/.vs/CrystalPhysics/v16
/CrystalPhysics/CrystalPhysicsView/x64/Debug
/CrystalPhysics/CrystalPhysicsView/imgui.ini
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4
/x64/Debug
/CrystalPhysics/CrystalPhysicsView/x64/Release
/x64/Release
/CrystalScene/Viewer/x64/Release
/CrystalScene/Viewer/imgui.ini
/CrystalScene/Viewer/x64/Debug
/ThirdParty/forest-skyboxes
/CrystalPhysics/CrystalPhysicsTest/x64/Debug/CrystalPhysicsTest.log
/CrystalSpace/CrystalSpaceView/x64/Debug
